<div class="col-sm-10 col-sm-offset-1">
	<div class="row">
		<div>Comment by <span><%= @user.name_and_username %></span></div>
		<%= form_for @comment do |f| %>
			<%= f.text_area :content %>
			<%= f.number_field :rating, min: 1, max: 5 %>
			<%= f.hidden_field :resource_id, value: @resource.id %>
			<%= f.hidden_field :user_id, value: @user.id %>

			<div class="subm_edit_btn">
				<%= f.submit "Submit", class: 'btn-info active'%>
			</div>
		<% end %>
	</div>
</div>
