	<div class="row">
		<div class="col-sm-3">
			<div><%= link_to checkout.resource.title, show_resource_path(checkout.resource) %></div>
			<div>
			<% if checkout.resource.link.present? && checkout.resource.pic.present? %>
				<%= link_to (image_tag checkout.resource.pic), checkout.resource.link, :target => "_blank", :class => "img-responsive"  %>
			<% elsif checkout.resource.pic.present? %>
				<%= image_tag checkout.resource.pic, :class => "img-responsive" %>
			<% end %>
			</div>
		</div>
		<div class="col-sm-4">
			<% if checkout.resource.composer.present? %>
				<div>Composer: <%= checkout.resource.composer %></div>
			<% end %>
			<% if checkout.resource.arranger.present? %>
				<div>Arranger: <%= checkout.resource.arranger %></div>
			<% end %>
			<% if checkout.resource.voice.present? %>
				<div>Voicing: <%= checkout.resource.voice %></div>
			<% end %>
		</div>
		<div class="col-sm-3">
			<div>Date: <%= checkout.created_at.strftime("%m/%d/%y %I:%M %p") %></div>
			<div>Artist: <%= checkout.user.name_and_username %></div>
			<% if checkout.notes.present? %>
				<div>Notes: <%= checkout.notes %></div>
				<% if current_user && current_user.admin? %>
					<div><%= link_to "[Edit note]", edit_checkout_path(checkout) %></div>
				<% end %>
			<% else %>
				<% if current_user && current_user.admin? %>
					<div><%= link_to "[Add note]", edit_checkout_path(checkout) %></div>
				<% end %>
			<% end %>
		</div>
		<div class="col-sm-2">
			<div>Outstanding: <%= checkout.outstanding %></div>
			<div>Checkout Total: <%= checkout.num_checked %></div>
			<% if current_user && current_user.admin? %>
				<div><%= link_to "Return", return_path(checkout) %></div>
			<% end %>
		</div>
	</div>