<div class="row entry">
	<div class="col-sm-1 expander">
			<span class="rank"></span><span class="expand_but">[+]</span>
	</div>
	<div class="col-xs-10 col-sm-9">
		<div class="writer_row expander">
			<% if resource.composer.present? %>
				<%= resource.composer %><span class="writer_title">, author/composer. </span>
			<% end %>
			<% if resource.arranger.present? %>
				<%= resource.arranger %><span class="writer_title">, arranger. </span>
			<% end %>
			<% if resource.libretto.present? %>
				<%= resource.libretto %><span class="writer_title">, libretto/text. </span>
			<% end %>
		</div>
		<div class="title_row">
			<span class="title_text expander"><%= resource.title %></span>
			<span class="type">
				<% if resource.res_type.present? %>
					[<%= resource.res_type %>]
				<% end %>
			</span>
		</div>
		<div class="voice_lang_row">
			<% if resource.voice.present? %>
				<%= resource.voice %>
			<% end %>
			<% if resource.voice.present? && resource.language.present? %>
				 | 
				 <% end %>
			<%= resource.language %>
		</div>
		<div class="avail_row">
			[<%= resource.res_outstanding %> of <%= resource.num_tot %> copies available]
		</div>
		<div class="moreinfo_sect">
			<ul class="moreinfo_list">
				<% if resource.voice.present? %>
					<li>
						<span class="attr_title">Voicing: </span>
						<span class="attr_value"><%= resource.voice %></span>
					</li>
				<% end %>
				<% if resource.accomp.present? %>
					<li>
						<span class="attr_title">Accompaniment: </span>
						<span class="attr_value"><%= resource.accomp %></span>
					</li>
				<% end %>
				<% if resource.region.present? %>
					<li>
						<span class="attr_title">Region: </span>
						<span class="attr_value"><%= resource.region %></span>
					</li>
				<% end %>
				<% if resource.genre.present? %>
					<li>
						<span class="attr_title">Genre: </span>
						<span class="attr_value"><%= resource.genre %></span>
					</li>
				<% end %>
				<% if resource.theme.present? %>
					<li>
						<span class="attr_title">Theme: </span>
						<span class="attr_value"><%= resource.theme %></span>
					</li>
				<% end %>
				<% if resource.additional.present? %>
					<li>
						<span class="attr_title">Additional Info: </span>
						<span class="attr_value"><%= resource.additional %></span>
					</li>
				<% end %>
				<% if resource.curric.present? %>
					<li>
						<span class="attr_title">Curriculum Connections: </span>
						<span class="attr_value"><%= resource.curric %></span>
					</li>
				<% end %>
				<% if resource.comments.present? %>
				<li>Comments:
					<%= render partial: "shared/comment_inline", locals: {comments: resource.comments}%>
					<% end %>
				</li>
				<li><%= link_to "Add Comment", new_comment_path(:resource_id => resource) %></li>
				<% if resource.favorites.where(:user_id => current_user).exists? %>
					<li><%= link_to "Remove from favorites", destroy_favorites_params_path(:user_id => current_user, :resource_id => resource), method: :delete %> </li>
				<% else %>
					<li><%= link_to 'Add to Favorites', favorites_path(:user_id => current_user, :resource_id => resource, :action => :create), :method => :post %></li>
				<% end %>
				<% if current_user && current_user.admin? %>
					<li><%= link_to "Checkout Item", new_checkout_path(:resource_id => resource) %></li>
				<% end %>
				<% if resource.checkouts_count > 0 %>
					<li><%= link_to "View Checkouts (#{resource.checkouts_count})", resource_checkouts_path(resource) %>
					</li>
				<% elsif resource.checkouts_past > 0 %>
					<li><%= link_to "View Past Checkouts", resource_checkouts_path(resource) %>
					</li>
				<% end %>
				<li><%= link_to "Edit Entry", edit_path(resource) %></li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 col-sm-2 pic_col">
		<div class="pic_link">
			<% if resource.link.present? && resource.pic.present? %>
				<%= link_to (image_tag resource.pic), resource.link, :target => "_blank", :class => "img-responsive"  %>
			<% elsif  resource.link.present? %>
				<%= link_to "[link]", resource.link, :target => "_blank" %>
			<% elsif resource.pic.present? %>
				<%= image_tag resource.pic, :class => "img-responsive" %>
			<% end %>
		</div>
		<div class="rating expander">
			<div>
				<% if resource.avg_rating.present? %>
					<span class="stars"><%= raw resource.avg_rating %></span>
				<% end %>
			</div>
				<% if resource.comments.count > 0 %>
				<div>		
					[<%= resource.comments.count %>
						<% if resource.comments.count == 1 %>
						comment]
						<% else %>
						comments]
						<% end %>
				</div>
				<% end %>
		</div>
	</div>
</div>

