<ul>
	<li><%= link_to "View/Edit Users", users_path %></li>
	<li><%= link_to "Add User", 'signup' %></li>
	<li><%= link_to "Look Up Artist's Checkouts", user_checkouts_path %></li>
	<li><%= link_to "View All Checkouts", checkouts_path %></li>
	<li><%= link_to "Export Library Catalog", excel_path(format: "xls") %> (download as Excel file)</li>
</ul>