<div class="backend col-sm-10 col-sm-offset-2">
	<div class="row">
		Admin Tools:
	</div>
	<div class="row backend_list">
		<ul>
			<li><span class="bullet">><%= link_to "Add New Resource", new_path %></span></li>
			<li><span class="bullet">></span><%= link_to "View/Edit Users", users_path %></li>
			<li><span class="bullet">></span><%= link_to "Add User", 'signup' %></li>
			<li><span class="bullet">></span><%= link_to "Look Up Artist's Checkouts", user_checkouts_path %></li>
			<li><span class="bullet">></span><%= link_to "View All Checkouts", checkouts_path %></li>
			<li><span class="bullet">></span><%= link_to "View All Comments", comments_path %></li>
			<li><span class="bullet">></span><%= link_to "Export Library Catalog", excel_path(format: "xls") %> <span class="subtitle">(download as Excel file)<span></li>
		</ul>
	</div>
</div>