<!DOCTYPE html>
<html>
<head>
  <title>MOG Resource Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
	<div class="container-fluid" id="full_head">
		<div class="row">
			<div class="container" id="header">
				<div class="row" id="menu_bar">
					<div class="col-sm-3 mogtitle">
						<div>
							<%= link_to "Met Opera Guild Resource Library", "/", class: 'title_link' %>
						</div>
						<div class="region_label">
							<% if current_user && current_user.region == "NY" %>
								[NYC]
							<% elsif current_user && current_user.region == "MA" %>
								[Boston]
							<% end %>	
						</div>
					</div>
					<div class="hidden-xs col-sm-2 menu_list">
						<ul>
							<li><a href="#">Help</a></li>
							<li><a href="http://www.metguild.org/TAPORTAL/" target="_blank">TA Portal</a></li>
						</ul>
					</div>
					<div class="hidden-xs col-sm-2">
						<div>
							Questions?
						</div>
						<div>
							Email <a href="#">nlamm@operaed.org</a>
						</div>
					</div>
					<div class="col-xs-6 col-sm-2 login_div">
						<!-- <%= link_to "Create new record", new_path %> -->
						<ul>
							<% if current_user %>
								<li>
									<%= link_to "View my checkouts", user_path(current_user) %>
								<li>
							<% end %>
							<% if current_user && current_user.admin? %>
								<li><%= link_to "Admin Tools", backend_path %></li>
							<% end %>
						</ul>
					</div>
					<div class="col-xs-6 col-sm-3 login_div">
						<% if current_user %> 
	
						    <div>Logged in as <span class="username"><%= current_user.username %></span></div> 
						    <div><%= link_to "Log out", logout_path, method: "delete" %></div> 
	
						<% else %> 
						  <ul> 
						    <li><%= link_to "Login", 'login' %></a></li> 
						  </ul> 
						<% end %>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row" id="search_section">
					<div class="col-sm-8 col-sm-offset-2" id="search_zone">
						<div id="search_bar">
						<%= form_tag(resources_path, :method => "get", id: "search-form") do %>
							<div class="form-group">
								<div class="col-sm-10 col-sm-offset-1">
			  						<%= text_field_tag :search, params[:search], placeholder: "Search Library", class: 'form-control input-lg' %>
			  					</div>
			  					<div class="hidden-xs col-sm-1">
			  						<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
		 						 		<span class="glyphicon glyphicon-search"></span> 
									<% end %>
			  					</div>
			  				</div>
						<% end %>
						</div>
						<div class="col-sm-11 col-sm-offset-1">
							<%= yield :showing_results %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" id="main_body">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<!-- This will be iterated in view -->
				<%= yield %>
			</div>
			<div class="col-sm-2">
			</div>
		</div>
	</div>

</body>
</html>
